* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #C5C6C7;
}
.card-background {
	background-color: #45A29E;
	width: 428px;
	height: 620px;
	margin: 30px auto;
    padding: 15px;
}
.card {
	background-color: #8E8D8A;
	width: 85%;
	height: 90%;
	margin: 30px auto;
	padding: 0 0 10% 0;
	box-shadow: 0px 10px 12px 10px rgba(61,235,172,0.35);
				-webkit-box-shadow: 0px 10px 12px 10px rgba(61,235,172,0.35);
				-moz-box-shadow: 0px 10px 12px 10px rgba(61,235,172,0.35);
}
header {
	width: 100%;
	text-align: center;
}
#banner {
	width: 100%;
	margin: auto;
}
#profileImage {
	width: 35%;
	border-radius: 50%;
	margin: -60px auto 0px;
	border: 4px solid white;
}
#profileImage:hover {
	margin: -80px auto 0px;
	width: 40%;
    border: 4px solid #8B0000;
}	
.title {
	margin: 3px auto;
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 10px auto 30px;
	text-shadow: 1px 1px #20B0AA;
}	
h1:hover, h2:hover {
	color: #8B0000;
	text-shadow: 1px 1px #DCDCDC;
}
.info {
	margin: 15px 35px;
    display: grid;
	grid-template-columns: 40px auto;
}
p {
	font-family: 'Roboto Slab', serif;
	font-size: 10px;
    align-self: center;
}
p:hover {
	font-size: 14px;
	color: #8B0000;
	font-weight: bold;
}
.signs {
	width: 80%;
	align-self: center;
}